@import 'node_modules/bootstrap/scss/bootstrap.scss';


$secondary: #1BB954;
$very-dark-gray: #282828;
$orange: #F5A623;

//Formatting
body{
  background-color: #000;
}

h2,h3{
  color:#ffffff;
}

h1{
  color: $secondary;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
}

p.lead{
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

// Buttons
.btn-secondary, .btn-outline-secondary {
  color: #fff;
  background-color: $secondary;
  border-color: $secondary;
}

.btn-outline-secondary, .btn-outline-secondary:hover{
  border: 1px #ffffff solid;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-lg, .btn-sm {
  border-radius: 5rem;
}

//Icon Buttons
.btn.icon {
  background: transparent;
  border: 0;
}

.btn.icon:focus {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.icon-prev, .icon-next{
  display: block;
  width: 12px;
  height: 11px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-prev{
  background-image: url('/assets/images/icon-prev-song.png');
}

.icon-prev:hover{
  background-image: url('/assets/images/icon-prev-song-hover.png');
}

.icon-next{
  background-image: url('/assets/images/icon-next-song.png');
}

.icon-next:hover{
  background-image: url('/assets/images/icon-next-song-hover.png');
}

.icon-play, .icon-pause{
  display: block;
  width: 35px;
  height: 35px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-play{
  background-image: url('/assets/images/icon-play-song.png');
}
.icon-play:hover{
  background-image: url('/assets/images/icon-play-song-hover.png');
}

.icon-pause{
  background-image: url('/assets/images/icon-pause-song.png');
}
.icon-pause:hover{
  background-image: url('/assets/images/icon-pause-song-hover.png');
}


// Jumbotron
.jumbotron.main, .jumbotron.landing {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0rem;
  padding-bottom: 6rem;
}

.jumbotron.landing {
  margin-bottom: 0;
  background: linear-gradient(black, #262525);
}

.jumbotron.library{
  background: #000;
}

//Navigation
.left-nav{
  border-right: 1px solid $very-dark-gray;
  background-color: #000000;
}

.nav-link{
  color:#ffffff;

}

.nav-link:hover{
  color: $secondary;
  background: $very-dark-gray;
}

.nav-link.logo:hover{
  background: transparent;
}

.nav-link.active{
  background-color: $very-dark-gray;
}

.nav-link.logo{
  padding-bottom: 2rem;
}

.container-fluid.main{
    padding-left:0;
    padding-right:0;
}

div.landing-promo{
  padding-top:3em;
}
p.landing-promo{
  font-size: 1.2em;
  color: #a8a6a6;
}


//Album Page
footer.album{
  background-color: #282828;
}

.table-dark{
    background-color: #000;
}

.table-dark.song-list{
  cursor: pointer;
}


// Track Bar - Time
input[type=range].range-track-time {
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
}
input[type=range].range-track-time:focus {
  outline: none;
}
input[type=range].range-track-time::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #404040;
  border-radius: 0px;
  border: 0px solid rgba(1, 0, 0, 0);
}
input[type=range].range-track-time::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 5px;
  width: 25px;
  border-radius: 0px;
  background: #b3b3b3;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range].range-track-time:focus::-webkit-slider-runnable-track {
  background: #4d4d4d;
}
input[type=range].range-track-time::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #404040;
  border-radius: 0px;
  border: 0px solid rgba(1, 0, 0, 0);
}
input[type=range].range-track-time::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 5px;
  width: 25px;
  border-radius: 0px;
  background: #b3b3b3;
  cursor: pointer;
}
input[type=range].range-track-time::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].range-track-time::-ms-fill-lower {
  background: #333333;
  border: 0px solid rgba(1, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].range-track-time::-ms-fill-upper {
  background: #404040;
  border: 0px solid rgba(1, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].range-track-time::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 34px;
  border-radius: 0px;
  background: #b3b3b3;
  cursor: pointer;
  height: 5px;
}
input[type=range].range-track-time:focus::-ms-fill-lower {
  background: #404040;
}
input[type=range].range-track-time:focus::-ms-fill-upper {
  background: #4d4d4d;
}


// Track Bar - Volume
input[type=range].range-volume {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.5px 0;
}
input[type=range].range-volume:focus {
  outline: none;
}
input[type=range].range-volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #1bb954;
  border-radius: 0px;
  border: 0px solid rgba(1, 0, 0, 0);
}
input[type=range].range-volume::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 12px;
  width: 12px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range].range-volume:focus::-webkit-slider-runnable-track {
  background: #1ecf5e;
}
input[type=range].range-volume::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #1bb954;
  border-radius: 0px;
  border: 0px solid rgba(1, 0, 0, 0);
}
input[type=range].range-volume::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 12px;
  width: 12px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].range-volume::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].range-volume::-ms-fill-lower {
  background: #18a34a;
  border: 0px solid rgba(1, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].range-volume::-ms-fill-upper {
  background: #1bb954;
  border: 0px solid rgba(1, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].range-volume::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 12px;
  width: 12px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  height: 5px;
}
input[type=range].range-volume:focus::-ms-fill-lower {
  background: #1bb954;
}
input[type=range].range-volume:focus::-ms-fill-upper {
  background: #1ecf5e;
}


